{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pysona</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'css/core.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    </head>
    <body>

       <!-- Header Mobile -->
        <div class="mobilehead d-flex d-sm-none">
            <img src="{% static 'images/logo.png' %}" class="logo" alt="Pysona Logo"/>
            <a href="#" class="hamburger-toggle"><img src="{% static 'images/hamburger.png' %}" alt="Mobile Menu" class="hamburger"/></a>
        </div>
        
       <!-- Header Mobile Stops Here -->

       <div class="extracontainer">
          <div class="row">
             <div class="col-3 col-sm-3 d-none d-sm-block">
                <div class="userwidget">
                    <img src="{% static 'images/logo.png' %}" class="logo" alt="Pysona Logo"/>
                    <hr/>
                    <div class="userinfo">
                        {% if user.thumbnail %}
                            <img src="{{ user.thumbnail.url }}" alt="Profile Thumbnail" class="profilethumb"/>
                        {% else %}
                            <img src="{% static 'images/profile.jpg' %}" alt="Default Profile Thumbnail" class="profilethumb"/>
                        {% endif %}
                        <h3>Welcome back, <span>{{ user.username|title }}</span></h3>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="{% url 'index' %}">
                    <div class="sidebarbtn btnactive" id="dashboard">
                       <div class="d-none d-lg-block">Dashboard</div>
                       <img src="{% static 'images/sb1.png' %}" alt="Pysona Dashboard"/>
                    </div>
                    </a>
                    <a href="{% url 'allprojects' %}">
                        <div class="sidebarbtn" id="projects">
                           <div class="d-none d-lg-block">Projects</div>
                           <img src="{% static 'images/sb2.png' %}" alt="Pysona Projects"/>
                        </div>
                    </a>
                    <a href="{% url 'allpersonas' %}">
                        <div class="sidebarbtn" id="personas">
                           <div class="d-none d-lg-block">Personas</div>
                           <img src="{% static 'images/sb3.png' %}" alt="Pysona Personas"/>
                        </div>
                    </a>
                    <a href="{% url 'account' %}">
                        <div class="sidebarbtn" id="account">
                           <div class="d-none d-lg-block">Account</div>
                           <img src="{% static 'images/sb4.png' %}" alt="Pysona Account"/>
                        </div>
                    </a>
                    <a href="{% url 'logout' %}">
                        <div class="sidebarbtn logout">
                           <div class="d-none d-lg-block">Logout</div>
                           <img src="{% static 'images/sb5.png' %}" alt="Pysona Logout"/>
                        </div>
                    </a>
                </div>
             
             </div>
             <div class="col-12 col-sm-9">
                <div class="quickactions">
                    <a href="{% url 'addpersona' %}"><div class="newpersona">
                        New Persona
                        <img src="{% static 'images/news.png' %}" alt="New Persona"/>
                    </div></a>
                    <a href="{% url 'addproject' %}"><div class="newproject">
                        New Project
                        <img src="{% static 'images/newp.png' %}" alt="New Project"/>
                    </div></a>
                </div>
                <hr/>
                {% block content %}
                  <!-- Other Templates -->
                {% endblock %}
             </div>
          </div>
       </div>
       

        <!-- Mobile Menu (Hidden by default) -->
        <div class="mobile-menu d-lg-none d-none">
            <button class="close-menu">X</button>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'allprojects' %}">Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'allpersonas' %}">Personas</a>
                    </li>
                    <li>
                        <a href="{% url 'account' %}">Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </nav>
            <div class="container">
            <div class="userwidget">
                <div class="userinfo">
                    {% if user.thumbnail %}
                        <img src="{{ user.thumbnail.url }}" alt="Profile Thumbnail" class="profilethumb"/>
                    {% else %}
                        <img src="{% static 'images/profile.jpg' %}" alt="Default Profile Thumbnail" class="profilethumb"/>
                    {% endif %}
                    <h3>Welcome back, <span>{{ user.username|title }}</span></h3>
                </div>
            </div>
            </div>
        </div>

       <script>

        //Declare Url for Sidebar.js
        var currentPath = "{{ request.path }}";  

        // Hamburger
        document.querySelector('.hamburger-toggle').addEventListener('click', function(event) {
            event.preventDefault();
            const mobileMenu = document.querySelector('.mobile-menu');
            mobileMenu.classList.toggle('d-none'); 
        });

        document.querySelector('.close-menu').addEventListener('click', function() {
            const mobileMenu = document.querySelector('.mobile-menu');
            mobileMenu.classList.add('d-none'); 
        });
       </script>
       <script src="{% static 'js/sidebar.js' %}"></script>
    </body>

</html>